/* initialize box bordering */

html {
  min-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* background-image: url("../images/background.jpg");
  background-position: top-center; */
  min-width: 500px;
}

a:link {
    text-decoration: none;
}


Header {
  top: 0px;
  text-align: center;
  width: 100%;
  padding: 10px 10px;
  z-index:1000;
  font-style: normal;
  height: 40px;
  display: block;
  position: fixed;
  /*border-bottom: 2px solid #000000;*/
  background-color: #FFFFFF;

}

.profile {
  position: relative;
  margin-top: 50px;
}
.container {
    width: 500px;
    height: 300px;
    margin: auto;
    padding-top: 10px;
    /*border: 1px solid #000000;*/
    min-width: inherit;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

/* image caption */
.container figcaption {
    text-align: center;
    font-size: 30px;
}

.sub {
  width: 100%;
  padding: 10px;
  text-align: center;
  position: relative;
  margin-top: 5%;
}

.sub p {
  margin: 10px;
}


footer {
  position: relative;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  width: 100%;
}
