/* initialize box bordering */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 2px solid #000000;
  padding: 20px 20px;
  text-align: center;
  width: 100%;
}


.container {
    width: 200px;
    height: 120px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}
