/* initialize box bordering */

html {
  min-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  min-width: 500px;
  /* border: 2px solid #000000; */
}

footer {
  width: 100vw;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(34, 34, 34);
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.2px;
  word-spacing: 0.6px;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 25px;
  position: absolute;
  bottom: 0;
  height: 60px;
  /* Height of the footer */
}

h1 {
  text-align: center;
  margin: 10px;
}

.container {
  margin: 10px auto;
  width: 100vw;
  min-height: 90vh;
  box-sizing: border-box;
  padding: 20px 20px 40px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 150px auto;
  width: 100%;
  text-align: center;
}

.candidateA {
  display: inline-block;
  max-width: 350px;
  vertical-align: top;
  margin: 10px auto;
}

.candidateB {
  display: inline-block;
  max-width: 150px;
  margin: 10px auto;
}

.containerImg img {
  /* border: 2px solid #000000; */
  margin: 10px auto;
  height: 200px;
  width: 100px;
  object-fit: contain;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 10px 0;
  border: none;
  cursor: pointer;
  width: 20px;
  opacity: 0.9;
  font-size: 15px;
}

button:hover {
  opacity:5;
}
